[Unit]
Description=Remote access to desktop via RDP
PartOf=graphical-session.target

[Service]
EnvironmentFile=-/etc/sysconfig/freerdp-server
ExecStart=/usr/bin/freerdp-shadow-cli $FREERDP_SERVER_ARGS

[Install]
WantedBy=graphical-session.target
